<div class="recettes">
  <input [(ngModel)]="recherche" (keyup)="preselection(recherche)" placeholder="Search..">
  <table class="table" *ngIf="presearchbool">
    <tr  *ngFor="let recipe of recettes">
      <a class="search" (click)="onSelect(recipe)" routerLink='details/{{recipe._id}}'>
        <span [class.selected]="recipe === selectedRecette">{{recipe.name}}</span>
      </a>

  </table>
  <h2>Mes recettes</h2>
  <div >
    <button class="validation" (click)="deconnexion()"> deconnexion </button>
  </div>
  



  <div class="encadrement">
      <a class="badge" *ngFor="let recipe of recettes" routerLink='details/{{recipe._id}}' (click)="onSelect(recipe)">
        <ul >
          <span [class.selected]="recipe === selectedRecette">{{recipe.name}}</span>

        </ul>
      </a>
  </div>


  <!-- <div>
      <app-recette-detail [detailbool]="detailbool" [recette]="selectedRecette" [onSelect2]="onSelect2" [getRecette]="getRecette"></app-recette-detail>
    </div>!-->
</div>