$font-stack: Montserrat, sans-serif;
$primary-color: #333;

.label { margin: auto;}
.recherche{
    text-align:center;
    size: 150%;
    font-family: $font-stack;

}
input 
    {
        width: 40%;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        background-color: white;
        background: url('https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-512.png');
        background-position: 2px 1px; 
        background-size: 30px;
        background-repeat: no-repeat;
        padding: 8px 20px 8px 40px;
        margin: auto;
    }

body {
  font: 100% $font-stack;
  color: $primary-color;
}
.class{
    float: left;

}
h2, h3 {
    
    color: #555;
    font-family: Montserrat, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 200%;
  }

.recettes{
    color : #333;
    font-family: Montserrat, Helvetica, sans-serif;
    font-size: 120%;
    font-weight: bold;
}
.search{
    font-family: Montserrat, Helvetica, sans-serif;
    font-size: 80%;
    font-weight: lighter; 
    text-decoration: none; 
    color: #333;
    
}
.search:hover{
font-weight: bold;
    cursor:  pointer;
}


.badge{
    text-decoration: none;

    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
    position: relative;
    width: 15em;
    border-radius: 4px 0 0 4px;
    color: #666;
    border: 1px black;
}
.badge:hover{
    cursor:  pointer;
}
.badge.selected:hover{
    color: #333;
}
.badge:hover{
    color: #444;
}
.encadrement{
    border: 1px #333 solid;
    width: 400px;
    border-radius: 10px;

}
.validation{
    background-color: #68a7ca;
    color: #d8e9f3;
    border: none;
    width: 150px;
    height: 30px;
    border-radius: 3px;
    cursor: pointer;
    float: center;
    font-family: Montserrat, Helvetica, sans-serif;
    margin-top: 6px;
    margin-bottom: 6px;
    text-align: center;
  
  }
  .validation:hover{
    background-color: #4390bc;
    color: #b2d3e6;
  }