
<h1>sergvesrfv</h1>
<div *ngIf="user" class="login">
  <a routerLink="/recettes">
    <button class="validation" >Retour </button>
    </a>
  <div>
    Il faut être connecté pour modifier les recettes
  </div>
  <div class="row">
    <div class="col-25">
      <label>email </label>
    </div>
    <div class="col-75">
      <input [(ngModel)]="user.email" placeholder="email">
    </div>
  </div>
  <div class="row">
      <div class="col-25">
        <label>password </label>
      </div>
      <div class="col-75">
        <input [(ngModel)]="user.password" placeholder="password">
      </div>
    </div>
    <a routerLink='/register'>
    <button class="validation">Creation </button>
    </a>
    <button class="validation" (click)="login()">Connexion </button>
  </div>