h2, h3 {
    text-align:center;
    color: #555;
    font-family: Montserrat, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 200%;
  }

.addrecipe{
  color: #222;
  font-family: Montserrat, Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 100%;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}


input {
      width: 95%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
  }
}
button{
  width: 50px;
  height: 30px;
  margin-top : 6px  
}
.validation{
    background-color: #68a7ca;
    color: #d8e9f3;
    border: none;
    width: 150px;
    height: 30px;
    border-radius: 3px;
    cursor: pointer;
    float: center;
    font-family: Montserrat, Helvetica, sans-serif;
    margin-top: 6px;
    margin-bottom: 6px;
    text-align: center;
  
  }
  .validation:hover{
    background-color: #4390bc;
    color: #b2d3e6;
  
  }