<div *ngIf="selectedRecette">
  <div *ngFor="let recipe of selectedRecette">
    <div>
      <h2>Modifier la recette</h2>
      <div class="addrecipe">
        <div class="container">
          <div class="row">
            <div class="col-25">
              <label>nom </label>
            </div>
            <div class="col-75">
              <input [(ngModel)]="recipe.name" placeholder="Nom de la recette">
            </div>
          </div>
          <div class="row">
            <div class="col-25">

              <label>Pays </label>
            </div>
            <div class="col-75">
              <input [(ngModel)]="recipe.country" placeholder="Pays d'Origine">
            </div>
          </div>
          <div class="row">
            <div class="col-25">
              <label>Type </label>
            </div>
            <div class="col-75">
              <select name="type" [(ngModel)]="recipe.type">
                <optgroup label="Type"></optgroup>
                <option value="Quotidien"> Quotidien</option>
                <option value="Jour de fete"> Jour de fête!</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-25">
              <label>difficulte </label>
            </div>
            <div class="col-75">
              <select name="difficulte" [(ngModel)]="recipe.difficulty">
                <optgroup label="Difficulte"></optgroup>
                <option value="Facile"> Facile</option>
                <option value="Normal"> Normal</option>
                <option value="Difficile"> Difficile</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-75">
              <table class="addrecipe">
                <tr>
                  <td id="name">
                    <p>Ingrédients</p>
                  </td>
                  <td id="weight">
                    <p>Quantité</p>
                  </td>
                </tr>
                <tr name="line" *ngFor="let ingredient of recipe.ingredients">
                  <td>
                    <input [(ngModel)]="ingredient.name" placeholder="name">
                  </td>
                  <td>
                    <input type="number" [(ngModel)]="ingredient.weight" placeholder="">
                  </td>
              </table>
            </div>
          </div>
          <button (click)="addIngredient()">+</button>
          <button (click)="deleteIngredient()">-</button>



          <div class="row">
            <div class="col-25">
              <label>Explication </label>
            </div>
            <div class="col-75">
              <input [(ngModel)]="recipe.explication" placeholder="Explication">
            </div>
          </div>
          <div clas="row">
            <div class="col-25">
              <label> Url de l'image </label>
            </div>
            <div class="col-75">
              <input [(ngModel)]="recipe.url " placeholder="Url">
            </div>
          </div>
          <div>
            <nav>
              <a>
                <button class="validation" (click)="updateRecette()" routerLink="/recettes">Modifier la recette! </button>
              </a>
            </nav>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>