/* Application-wide Styles */
.body{ 
  background-color: #f2f2f2;
  padding: 20px;
}
h1 {
  text-align:center;
        background: url('https://images.wallpaperscraft.com/image/spices_seasonings_red_pepper_black_pepper_pepper_star_anise_onion_ginger_garlic_walnuts_bay_leaf_78738_300x168.jpg');
        background-repeat: no-repeat;
  background-size:100%; 
    color: #EEE;
    font-family: Montserrat, Helvetica, sans-serif;
    font-size: 300%;
  
  }
  h2, h3 {
    text-align:center;
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
  }
  body {
    margin: auto;
    
  }
  body, input[text], button {
    color: #888;
    font-family: Cambria, Georgia;
  }

.validation{
    background-color: #68a7ca;
    color: #d8e9f3;
    border: none;
    width: 150px;
    height: 30px;
    border-radius: 3px;
    cursor: pointer;
    float: center;
    font-family: Montserrat, Helvetica, sans-serif;
    margin-top: 6px;
    margin-bottom: 6px;
    text-align: center;
  
  }
  .validation:hover{
    background-color: #4390bc;
    color: #b2d3e6;
  
  }