<!--The content below is only a placeholder and can be replaced.-->
  <div><h1>
    Bienvenue sur {{ title }}!
  </h1>
</div>
<nav>
  <a routerLink="/add-recettes" > <button class="validation"> Ajouter une recette </button> <br/>
  </a>
</nav>
<br/>
<router-outlet></router-outlet>

