<div *ngIf="recette" >
    <h2>{{ recette[0].name }} </h2>
    <hr>
    <span (click)="goBack()">
      <button class="validation">Masquer</button>
    </span>
    <div class="container">
    <div class="detailrecipe">

    <img src="{{recette[0].url}}">
    <div class="row">
      <div class="col-25">
        type
      </div>
      <div class="col-75">
        {{recette[0].type}}
      </div>
    </div>

    <div *ngIf=" recette[0].type != 'Quotidien'">
      <!--   <img class="icon" src="http://s3.amazonaws.com/pix.iemoji.com/images/emoji/apple/ios-11/256/party-popper.png"> 
   !-->
    </div>
    <div class="row">
      <div class="col-25">
        Pays
      </div>
      <div class="col-75">
        {{recette[0].country}}
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        Ingrédients
      </div>
      <div class="spe-col-75" *ngFor="let ingredient of recette[0].ingredients"> {{ingredient.name}} : {{ingredient.weight}}
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        Difficulté
      </div>
      <div class="col-75"> {{ recette[0].difficulty}}
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        Explication
      </div>

      <div class="col-75"> {{recette[0].explication}}
      </div>
    </div>

    <a routerLink="change">

      <button class="validation">Modifier la recette </button>
    </a><br/>
    <button class="validation" (click)="deleteRecette()">Supprimer la recette </button>

  </div>
  </div>