.tabulation { margin: 0 0 0 5%; }

$font-stack : Montserrat, Helvetica, sans-serif;
h2, h3 {
    text-align:center;
    color: #555;
    font-family: Montserrat, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 200%;
  }
h1{
    text-align: center;
    font-family:  $font-stack;
}

.detailrecipe{
  color: #222;
  font-family: Montserrat, Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 100%;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
  font-weight: bolder;
  font-size: 125%;
}

.col-75 {
float: left;
    width: 75%;
  margin-top: 6px;
  font-weight: lighter;
}
.spe-col-75{
    padding: 0 0 0 25%;
    width: 75%;
    float: left;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}


input {
      width: 95%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
  }
}
button{
  width: 50px;
  height: 30px;
  margin-top : 6px  
}
.validation{
  background-color: #68a7ca;
  color: #d8e9f3;
  border: none;
  width: 150px;
  height: 30px;
  border-radius: 3px;
  cursor: pointer;
  float: center;
  font-family: Montserrat, Helvetica, sans-serif;
  margin-bottom: 6px;

}
.validation:hover{
  background-color: #4390bc;
  color: #b2d3e6;

}
hr{
    width: 50%
}
img{
    display: block;
    margin-left : auto;
    margin-right: auto;
    border-radius: 50%;
    max-width: 50%;
    height: auto;
    opacity: 1;
    float: center;
}
