.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

.login{
    color: #222;
    font-family: Montserrat, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 100%;
  }

  .validation{
    background-color: #68a7ca;
    color: #d8e9f3;
    border: none;
    width: 150px;
    height: 30px;
    border-radius: 3px;
    cursor: pointer;
    float: center;
    font-family: Montserrat, Helvetica, sans-serif;
    margin-top: 6px;
    margin-bottom: 6px;
    text-align: center;
  
  }
  .validation:hover{
    background-color: #4390bc;
    color: #b2d3e6;
  }
    