<div>
  <div class="row">
    <div class="col-25">
      <label>email </label>
    </div>
    <div class="col-75">
      <input [(ngModel)]="user.email" placeholder="email">
    </div>
  </div>
  <div class="row">
    <div class="col-25">
      <label>password </label>
    </div>
    <div class="col-75">
      <input type="password" [(ngModel)]="user.password" placeholder="password">
    </div>
    <div class="col-25">
        <label>confirm password </label>
      </div>
      <div class="col-75">
              <input type="password" [(ngModel)]="confirm" placeholder="confirm">
    </div>
  </div>

  <button class="validation" (click)="create()">Creation </button>
<div *ngIf="confirmationbool">
  Echec dans la confirmation du mdp
</div>
</div>